USE [master]
GO
/****** Object:  Database [EventManagement]    Script Date: 12/21/2019 6:26:52 PM ******/
CREATE DATABASE [EventManagement]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EventManagement', FILENAME = N'D:\Database\EventManagement.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EventManagement_log', FILENAME = N'D:\Database\EventManagement_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EventManagement].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EventManagement]
GO
USE [EventManagement]
GO
/****** Object:  Table [dbo].[Comment]    Script Date: 12/21/2019 6:26:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comment](
	[commentId] [int] IDENTITY(1,1) NOT NULL,
	[content] [nvarchar](max) NOT NULL,
	[postdate] [datetime] NULL,
	[eventId] [int] NOT NULL,
	[userId] [nvarchar](50) NOT NULL,
	[isInActive] [bit] NOT NULL,
 CONSTRAINT [PK_Comment] PRIMARY KEY CLUSTERED 
(
	[commentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Event]    Script Date: 12/21/2019 6:26:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Event](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[shortDescription] [nvarchar](250) NOT NULL,
	[description] [nvarchar](100) NOT NULL,
	[address] [nvarchar](100) NOT NULL,
	[startDate] [datetime] NOT NULL,
	[endDate] [datetime] NOT NULL,
	[status] [varchar](50) NOT NULL,
	[isInactive] [bit] NOT NULL,
 CONSTRAINT [PK_Event] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Faculty]    Script Date: 12/21/2019 6:26:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Faculty](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[isInactive] [bit] NOT NULL,
 CONSTRAINT [PK_Faculty] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Major]    Script Date: 12/21/2019 6:26:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Major](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[facultyId] [int] NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[isInactive] [bit] NOT NULL,
 CONSTRAINT [PK_Major] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[User]    Script Date: 12/21/2019 6:26:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[id] [nvarchar](50) NOT NULL,
	[password] [nvarchar](100) NOT NULL,
	[firstName] [nvarchar](50) NULL,
	[lastName] [nvarchar](50) NULL,
	[dob] [datetime] NULL,
	[gender] [nvarchar](50) NULL,
	[imageUrl] [nvarchar](max) NULL,
	[role] [nvarchar](50) NOT NULL,
	[majorId] [int] NULL,
	[isInactive] [bit] NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserEvent]    Script Date: 12/21/2019 6:26:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserEvent](
	[userId] [nvarchar](50) NOT NULL,
	[eventId] [int] NOT NULL,
	[role] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_UserEvent] PRIMARY KEY CLUSTERED 
(
	[userId] ASC,
	[eventId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Faculty] ON 

INSERT [dbo].[Faculty] ([id], [name], [isInactive]) VALUES (1, N'High Quality', 0)
INSERT [dbo].[Faculty] ([id], [name], [isInactive]) VALUES (2, N'Đại Trà', 0)
SET IDENTITY_INSERT [dbo].[Faculty] OFF
SET IDENTITY_INSERT [dbo].[Major] ON 

INSERT [dbo].[Major] ([id], [facultyId], [name], [isInactive]) VALUES (1, 1, N'Information Technology', 0)
INSERT [dbo].[Major] ([id], [facultyId], [name], [isInactive]) VALUES (2, 2, N'Công Nghệ Thông Tin', 0)
INSERT [dbo].[Major] ([id], [facultyId], [name], [isInactive]) VALUES (3, 1, N'Electronics', 0)
SET IDENTITY_INSERT [dbo].[Major] OFF
INSERT [dbo].[User] ([id], [password], [firstName], [lastName], [dob], [gender], [imageUrl], [role], [majorId], [isInactive]) VALUES (N'17110002', N'202CB962AC59075B964B07152D234B70', N'Huynh Van', N'B', CAST(N'1999-12-19T00:00:00.000' AS DateTime), N'Male', N'~/Images/637114899112517313_Hanford_iStock-621586428-1024x768.jpg', N'Student', 14, 1)
INSERT [dbo].[User] ([id], [password], [firstName], [lastName], [dob], [gender], [imageUrl], [role], [majorId], [isInactive]) VALUES (N'17110069', N'202CB962AC59075B964B07152D234B70', N'Truong', N'Minh Quan', CAST(N'1999-10-03T00:00:00.000' AS DateTime), N'Male', N'~/Images/637114381125532941_3.8.16 Scooter.jpg', N'Student', 1, 0)
INSERT [dbo].[User] ([id], [password], [firstName], [lastName], [dob], [gender], [imageUrl], [role], [majorId], [isInactive]) VALUES (N'SA001', N'202CB962AC59075B964B07152D234B70', N'Tran Ngoc', N'Minh Quan', CAST(N'1999-07-01T00:00:00.000' AS DateTime), N'Male', NULL, N'SAdmin', NULL, 0)
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD  CONSTRAINT [FK_Event_Comment] FOREIGN KEY([eventId])
REFERENCES [dbo].[Event] ([id])
GO
ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [FK_Event_Comment]
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD  CONSTRAINT [FK_User_Comment] FOREIGN KEY([userId])
REFERENCES [dbo].[User] ([id])
GO
ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [FK_User_Comment]
GO
ALTER TABLE [dbo].[Major]  WITH CHECK ADD  CONSTRAINT [FK_Major_Faculty] FOREIGN KEY([facultyId])
REFERENCES [dbo].[Faculty] ([id])
GO
ALTER TABLE [dbo].[Major] CHECK CONSTRAINT [FK_Major_Faculty]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Major] FOREIGN KEY([majorId])
REFERENCES [dbo].[Major] ([id])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Major]
GO
ALTER TABLE [dbo].[UserEvent]  WITH CHECK ADD  CONSTRAINT [FK_UserEvent_Event] FOREIGN KEY([eventId])
REFERENCES [dbo].[Event] ([id])
GO
ALTER TABLE [dbo].[UserEvent] CHECK CONSTRAINT [FK_UserEvent_Event]
GO
ALTER TABLE [dbo].[UserEvent]  WITH CHECK ADD  CONSTRAINT [FK_UserEvent_User] FOREIGN KEY([userId])
REFERENCES [dbo].[User] ([id])
GO
ALTER TABLE [dbo].[UserEvent] CHECK CONSTRAINT [FK_UserEvent_User]
GO
USE [master]
GO
